footer {
    background: #007269;
    padding: 101px 0;
}

.footer-menu {
    display: flex;
    gap: 40px;
}

footer ul li {
    display: flex;
    align-items: center;
    gap: 10.56px;
}

footer ul li::before {
    content: '';
    display: block;
    width: 3px;
    height: 3px;
    background: black;
    border-radius: 50%;
} 
