@import 'header.css';
@import 'footer.css';
@import 'inicio.css';
@import 'archive-atrativos.css';
@import 'single-atrativos.css';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    max-width: 100%;
    width: 1245px;
    margin: 0 auto
}
